# =================================
# 🚀 NEST ANIMALS API - DEV CONFIG
# =================================

# Application
NODE_ENV=development
PORT=3000

# Database MongoDB
DATABASE_URL=mongodb://db:27017/animals_db

MONGO_PORT=27017

DATABASE_NAME=animals_db
